<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA BEAUTY - CONTATO</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <%- include('../partials/header') %>

<main>
    <section class="featured-post">
        <h2>Fale conosco!</h2>
        <article>
            <h3>WhatsApp (19) 99999-9999<br>
               <br> Instagram @stefanyalveesbeauty<br>
               <br> Telefone (19) 99999-9999<br>
            </h3>
            <p>Caso sua mensagem demore para ser respondida mantenha a calma, provavelmente estaremos em atendimento!</p>
        </article>
    </section>

 
</main>

<footer>
    <p>&copy; 2024 Meu Blog Pessoal</p>
</footer>

</body>
</html>




<style>

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dd52a3;
    color: #fff;
    padding: 30px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.featured-post, .recent-posts {
    margin-bottom: 30px;
}

.featured-post h2, .recent-posts h2 {
    margin-top: 0;
}

article {
    background-color: #d6699f67;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

</style>

