<header>
    <h1>Stefany Alves Beauty</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/postagens">Postagens</a></li>
        </ul>
    </nav>
</header>
